.App{ 
  margin: 10px;
}
.searchDiv{
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}
.searchDiv label{
  text-align: center;
  font-size: 20px;
}
.searchDiv input{
  min-height: 20px;
  font-size: 20px;
}
.searchDiv form{
  display: flex;
  flex-direction:column;
}
.ImageList{
  columns: 250px 5;
  column-gap: 10px;
}
.ImageListImg{
  width: 100%; 
}